*{
    margin: 0;
    padding: 0;
}
.input_ant{
    padding: clamp(10px,12px,14px);
    max-height: 48px;
    width: 100%;
}

.secondary_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#682DFE ;
    width: 100%;
    padding: var(--paddings-gaps-p-3, 18px) var(--paddings-gaps-p-4, 24px);
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
    border: 1px solid var(--Main-goten, #FFF);
    color: var(--Main-goten, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* UI Type/text-md/[S] */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.DoneNotification{
    display: inline-flex;
    padding: var(--pt-4, 16px) var(--px-4, 16px);
    align-items: flex-start;
    gap: 16px;
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
    background: var(--Main-gohan, #FFF);

    /* Light/shadow-lg */
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.40), 0px 8px 24px -6px rgba(0, 0, 0, 0.16);
}
.Your_account_has_been_verified{
    align-items: center;
}
.tag{
    display: flex;
    max-height: 40px;
    max-height: var(--height-h-10, 40px);
    padding: 0.8vw 1.2vw;
    align-items: center;
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
background: var(--base, #FFF);
}
.tag:hover{
    background: gray; 
}
.tagGray{
    display: flex;
    max-height: 40px;
    max-height: var(--height-h-10, 40px);
    padding: 0.8vw 1.2vw;
    align-items: center;
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
    background: gray;
}
.NavigationLinks{
    display: flex;
    padding: 0.7167vw  1.2vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Neutral-12, #141414);

    font-feature-settings: 'clig' off, 'liga' off;
    /* UI Type/text-sm/[S] */
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}
.NavigationLinksClicked{

}
.NavBar{
    display: flex;
    padding: 5px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}
.Navigation{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:0.3vw;
}
.features{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.3vw;
}

.NavigationLinks{
    text-align: center; 
    color: #404040;
  background-color: inherit;
  position: relative;
  transition: color 0.3s ease;
  }
  .NavigationLinks:hover{
    color: var(--Primary-6, #6738DD);
  }
  .NavigationLinks::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2.7px;
    border-radius: 1.35px; 
    bottom: 0;
    left: 0;
    background-color:var(--Primary-6, #6738DD); /* Change this color to your desired underline color */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    color: var(--Primary-6, #6738DD);
  /* subtle-medium */
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  
  }
  
  .NavigationLinks:hover::before {
    visibility: visible;
    transform: scaleX(1);
    color: var(--Primary-6, #6738DD);
  }
  .NavigationLinks:active{
    color: var(--Primary-6, #6738DD);
  }

  .FixedUnderlineButton {
    text-align: center; 
    color: #6738DD;
  background-color: inherit;
  position: relative;


}
.FixedUnderlineButton::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.7px;
    border-radius: 1.35px; 
    background-color:var(--Primary-6, #6738DD) ;
}
.profileCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Profile_card_countainer{
    display: flex;
    width: 100%;
    max-height: 134px;
    
    gap:10%;
    align-items: center;
    flex-shrink: 0;
}
.avatar{
   position: relative;
   align-self: center;
}
.bdge{
    position: absolute;
    z-index: 100;
   bottom: 0;
   right: 0;
  
}
.avatarImage{
    width: 3rem;
    border-radius: 64px;
}
.profileCardInfo{
    display: flex;
    flex-direction: column;
}
.userName{
color: var(--Neutral-12, #141414);
height: 1.8125rem;
/* UI Type/text-2xl/[S] */
    font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}
.CareerName{
 color: var(--Neutral-8, #595959);
/* UI Type/text-sm/[R] */
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
}
.ReviewsSection{
    display: flex;
    align-self: flex-end;
    gap:5px;
}
.Reviews{
    color: var(--Neutral-8, #595959);
font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-sm/[S] */
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
.ReviewsNumber{
    color: var(--Main-zeno, rgba(0, 0, 0, 0.56));
font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-sm/[R] [L] */
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
text-decoration-line: underline;
}
.streak{
    display: flex;
    width: 100%;
    padding: 0.625vw 0.9375vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
    border-radius: 12px;
    background: var(--Neutral-3, #F5F5F5);
}
.streakStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.days{
    color: var(--Neutral-8, #595959);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* UI Type/text-md/[R] */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.statusDefault{
    width: 18px;
    height: 18px;
    background-color:#D9D9D9;; /* You can change the background color */
    border-radius: 50%;
}
.statusConfirmed{
    width: 18px;
    height: 18px;
    background-color:#6738DD;; /* You can change the background color */
    border-radius: 50%;
}
.StreakTitle{
    color: var(--Neutral-11, #1F1F1F);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-md/[R] */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.StreakCountainer{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.premiumAccesCard{
    display: flex;
    width: 100%;
    padding: 10px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-radius: 12px;
    background: var(--black-night, #070707);
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.15);
}
.Percentage{
    max-width: 186px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--base, #FFF);
    text-align: center;
    /* UI Type/text-4xl/[S] */
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: -0.5px;

}
.GetAccess{
    max-width: 180px;
    color: var(--Neutral-8, #595959);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* UI Type/text-sm/[R] */
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.Upgrade_Button{
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--Neutral-5, #D9D9D9);
    background: var(--Neutral-1, #FFF);
    display: flex;
    padding: 4px 15px;
    justify-content: center;
    align-items: center;
   

    /* drop-shadow/button-secondary */
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);  
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));
    text-align: center;

    /* Body/regular */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */  

}

.ProjectsMemberCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 173px;
    height: 178px;
    padding: 12px;
    flex-shrink: 0;
    border-radius: 12px;
    background: linear-gradient(254deg, #FFF -123.36%, #682DFE 93.31%);
    box-shadow: 0px 12px 12px 0px rgba(104, 45, 254, 0.25);
    max-width: 173px;
}
.staticItem{
    display: flex;
    flex-direction: column;
    align-items:start ;
}
.NumberOfMember{
    color: var(--base, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-4xl/[S] */
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: -0.5px;
    
}
.groupImage{
    display:flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}
.Member{
    color: var(--base, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-md/[R] */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
 

.projectCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 173px;
    height: 178px;
    padding: 12px;
    flex-shrink: 0;
    border-radius: 12px;
    border-radius: 12px;
    background: linear-gradient(57deg, #000 0.96%, #666 146.41%);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.15);
}
.Projects{
    color: var(--Neutral-8, #595959);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* UI Type/text-md/[R] */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    }

.SkillsGrowth{
    display: flex;
    justify-content: space-between;
    max-width: 366px;
    height: 184px;
    border-radius: 12px;
    background: var(--base, #FFF);
}
.skillsInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 118.892px;
    align-items: start;
   
}
.SkillsTitle{
    color: #272D36;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-2xl/[S] */
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.additionalInfo{
    display: flex;
    width: 75%;
    justify-content: space-between;
}
.postInfoNumber{
    color: var(--Neutral-12, #141414);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-md/[S] */
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
}
.sKillsCountainer{
 display: flex;
 flex-direction: column;
 background: var(--base, #FFF);
 width: 100%;

}
.skillPerformance{
    width: 100%;
    display: flex;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.skill{
    color: #352E4A;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-xs/[R] */
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
.skillNum{
    color: #222225;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-sm/[R] */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.ProjectMeeting{
    width: 366px;
    display: flex;
    padding: 12px;
    gap: 26px;
    border-radius: 12px;
    background: var(--base, #FFF);
}
.Meetingdate{
    color: var(--Neutral-8, #595959);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-sm/[R] */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.Meetingtime{
    color: var(--Neutral-11, #1F1F1F);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-sm/[S] */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}
.categoriesCard{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    max-width:  260px;;
    flex-shrink: 0;
    border-radius: 12px;
    border-radius: 0.75rem;
    background: var(--base, #FFF);
    box-shadow: -22px 46px 14px 0px rgba(179, 152, 249, 0.00), -14px 30px 13px 0px rgba(179, 152, 249, 0.01), -8px 17px 11px 0px rgba(179, 152, 249, 0.05), -3px 7px 8px 0px rgba(179, 152, 249, 0.09), -1px 2px 5px 0px rgba(179, 152, 249, 0.10); 
}
.categorieName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.3vw;
    color: var(--black-night, #070707);
    font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-2xl/[S] */
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */

}
.categorie_countainer{
  display: flex;
  gap:1.5vh;
  flex-direction: column;
  align-items: start;
}
.number_Of_Project_In_Catedorie{

   
}
.projectNumbertext{
    color: var(--black-night, #070707);
font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-5xl/[S] */
font-family: DM Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 116.667% */
letter-spacing: -1px;
}
.projecettext{
    color: var(--black-night, #070707);
    font-feature-settings: 'calt' off;
    
    /* Wirefrming/WF Body/Body Small */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
}
.mentoresProfiles{
    display: flex;
    align-items: center;
 
}
.mentortext{
    color: var(--normal, #19191B);
    font-feature-settings: 'calt' off;
    
    /* Wirefrming/WF Body/Body Small */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
}
.categoriesCard:hover{

    background: var(--Primary-2, #D5C5FD);
    box-shadow: 0px 118px 33px 0px rgba(179, 152, 249, 0.00), 0px 75px 30px 0px rgba(179, 152, 249, 0.01), 0px 42px 25px 0px rgba(179, 152, 249, 0.05), 0px 19px 19px 0px rgba(179, 152, 249, 0.09), 0px 5px 10px 0px rgba(179, 152, 249, 0.10);
}

.entrole_button {
    
    padding: 0.4rem 0.9375rem; 
    width: fit-content; 
    border-radius: 0.75rem;
    border: 1px solid var(--Neutral-5, #D9D9D9);
    background: var(--Neutral-1, #FFF);
    
    /* drop-shadow/button-secondary */
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
    color: var(--Primary-6, #6738DD);
    text-align: center; 
    
    /* H5/regular */
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    }
    

.post{
  max-width:55vw;
   display: flex;
   padding: 1.56rem;
   flex-direction: column;
   gap: 15px;
   align-items: start;
   border-bottom: 0.4px solid var(--Neutral-8, #595959);
   background: #FFF;
   border-top-left-radius: 1px;
   border-top-right-radius: 1px;
}
.postWriterInfo{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    background: #FFF;
    gap:3vw;

}
.more{
    color: var(--Primary-6, #6738DD);
font-feature-settings: 'clig' off, 'liga' off;

/* Paragraph/text-sm/[S] [L] */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
text-decoration-line: underline;
}

.postBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
    background: #FFF;
    
}
.userNamePost{
    color: var(--Neutral-12, #141414);


/* UI Type/text-xl/[R] */
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.tagsList{
    display:flex;
    align-items: center;
    gap:15px; 
    flex-wrap: wrap;
    
}
.postTitle{
    color: var(--black, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-2xl/[S] */
    font-family: "DM Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; /* 133.333% */
}
.profilePicsNavBar{
    border-radius: 99px;
 
}
.postDescription{
    color: var(--subtle-dark, #61646B);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Paragraph/text-md/[R] */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.postInfo{
    display: inline-flex;
    padding: 0.375rem 0rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;  
}
.postTags{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.dateOfPosting{
    width: 150px;
    align-self: center;
    color: var(--Neutral-8, #595959);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-sm/[R] */
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.postTag{
   
    padding: 6px 12px;
    align-items: center; 
    border-radius: 6px;
    border: 1px solid var(--Primary-5, #7C50E9);
    background: var(--Primary-1, #F8F5FF);
    color: var(--character-primary-85, rgba(0, 0, 0, 0.85));

    /* Footnote/description */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}
.Profile_card_countainer_post{
    display: flex;
    width: 100%;
    max-height: 134px;
    gap:15px;
    align-items: center;
    flex-shrink: 0;
}
.buttonpostenroll{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.enrollButton{
    background-color: white;
    display: flex;
    align-items: end;
    width: 171px;

}
.categorieButtonPost {
    display: inline-flex;
    padding: 8px 10px;
    align-items: center;
    gap: 4px;
    border-radius: 99px;
    border: 1px solid var(--Primary-6, #6738DD);
    background: var(--Neutral-1, #FFF);
    color: var(--Primary-6, #6738DD);

    /* H5/regular */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.categorieButton{
    display: inline-flex;
    padding: 8px 15px;
    align-items: center;
    gap: 4px;
    border-radius: 99px;
    border: 1px solid var(--Neutral-5, #D9D9D9);
    background: var(--Primary-2, #D5C5FD);
    color: var(--Neutral-13, #000);

    /* H5/regular */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.filterCategoriesButton{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 4px;
    border-radius: 99px;
    border: 1px solid var(--Neutral-5, #D9D9D9);
    background: var(--Neutral-1, #FFF);

    color: var(--Neutral-13, #000);

    /* H5/regular */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.filterCategoriesButton:hover{
    color: #9570F2;
    
}

.filterCategoriesButtonActive{
    background: var(--Primary-4, #9570F2);
    color: var(--Neutral-1, #FFF);
}
.filterCategoriesButtonActive:hover{
    color: white;
}
.searchBar{
    display: flex;
    width: 100%;
    padding: 10px 10px;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap: 12px;
    flex-wrap: wrap;
}
.SearchInput{
    width: fit-content;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: var(--Size-80, 8px);
    align-self: stretch;
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
    border: 1px solid var(--Main-beerus, #E2E2E2);
    background: var(--Main-gohan, #FFF);
    width: 60%;
}

.search_Input{
    color: var(--Main-trunks, #595D62);
    font-feature-settings: 'clig' off, 'liga' off;
    flex: 1 0 0;    
    /* UI Type/text-md/[R] */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    border: none;
}
.search_Input:focus{
  border:none;
  outline: none;
  color: black;
  font-feature-settings: 'clig' off, 'liga' off;
  
  /* UI Type/text-md/[R] */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  }
.clearButton{
    color: var(--Main-trunks, #595D62);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Paragraph/text-sm/[R] */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.filterButton{
    display: flex;
    padding: 9px;
    justify-content: center;
    align-items: center;
    gap: var(--Size-120, 12px);
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
    border: 1px solid var(--Main-beerus, #E2E2E2);

}
.footer{    
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 96px;

}
.footerCountainer{
    display: flex;
    width:100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px;
    flex-wrap: wrap;
}
.fouterTMainContentExeption{
    display: flex;
    min-width:70%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;    
}
.fouterTMainContent{
    display: flex;
    min-width: 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.footeTitle{
    color: var(--Neutral-12, #141414);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-xl/[S] */
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
}
.subFooterCountainer{
    display: flex;
    flex-direction: column;
}
.subFooterCountainerExeption{
    display: flex;
    width: 70%;
    flex-direction: column;
  
}
.contenteSubFooter{
    color: var(--Neutral-8, #595959);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-lg/[R] */
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.fouterTMainContentExeption{
    display: flex;
    min-width: 70%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}
.subFooterCountainerException{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}
.enterEmailFooter{
    color: var(--Neutral-11, #1F1F1F);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-md/[R] */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.line{
   height: 1px;
    background-color:  rgba(0, 0, 0, 0.06);
}
.countainerTwoFooter{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
   
}
.logoWith{
    width: 170px;
    height: 40px;
}
.footerSocialMedia{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.rightReseved{
    color: var(--Dark, #0A142F);
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.socailMediaPics{
    width: 40px;
    height: 40px;
}