*{
    margin: 0;
    padding: 0;
}
.input_ant{
    padding: clamp(10px,12px,14px);
    max-height: 48px;
    width: 100%;
}

.secondary_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#682DFE ;
    width: 100%;
    padding: var(--paddings-gaps-p-3, 18px) var(--paddings-gaps-p-4, 24px);
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
    border: 1px solid var(--Main-goten, #FFF);
    color: var(--Main-goten, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* UI Type/text-md/[S] */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.DoneNotification{
    display: inline-flex;
    padding: var(--pt-4, 16px) var(--px-4, 16px);
    align-items: flex-start;
    gap: 16px;
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
    background: var(--Main-gohan, #FFF);

    /* Light/shadow-lg */
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.40), 0px 8px 24px -6px rgba(0, 0, 0, 0.16);
}
.Your_account_has_been_verified{
    align-items: center;
}
.tag{
    display: flex;
    max-height: 40px;
    max-height: var(--height-h-10, 40px);
    padding: 0.8vw 1.2vw;
    align-items: center;
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
background: var(--base, #FFF);
}
.tag:hover{
    background: gray; 
}
.tagGray{
    display: flex;
    max-height: 40px;
    max-height: var(--height-h-10, 40px);
    padding: 0.8vw 1.2vw;
    align-items: center;
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
    background: gray;
}
.NavigationLinks{
    display: flex;
    padding: 0.7167vw  1.2vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Neutral-12, #141414);

    font-feature-settings: 'clig' off, 'liga' off;
    /* UI Type/text-sm/[S] */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}
.NavigationLinksClicked{

}
.NavBar{
    display: flex;
    padding: 12px 30px;
    justify-content: space-between;
    align-items: center;

}
.Navigation{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.features{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.3vw;
}