.added{
    background: var(--Main-goku, #F5F5F5);
    opacity: 1;
    height: auto;
    transition: all 200ms ease;
    overflow: hidden;
    }
.not_diplayed{
    width: 100%;
    display: none;
    height: 0;
    opacity: 0;
    transition: all 200ms ease;
     }
.hero{
        display: flex;
       padding: 16px;
       padding-bottom: 0;
        gap:20px;
        background: var(--Main-goku, #F5F5F5);
    
    }
.Filter_Section{
        width: clamp(200px, 25%, 500px);
    }
.Filter_Section_fixed{
        width: 100%;
      }

.countainer{
        position: relative;
        width: clamp(300px, 100%, 828px); 
          }
.posts{

        height: 100vh;
        width: 100%;
        overflow: auto;  
        -webkit-scrollbar: none;
        scrollbar-width: none;
        -ms-overflow-style: none;
        transition: all 0.2s ease ;
        }

.SearchBar{
    margin-top: -16px;
      width: clamp(300px, 100%, 828px);          
    }
 .filterButton{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 14px;
 }
 .Mentores_Sub_Section{
  height: 389px;
  width: 100%;
  overflow: auto;  
  -webkit-scrollbar: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: all 0.2s ease ;
  }
  .mentoresCards{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
  }
  .popular{
    position: fixed ;
    color: var(--Neutral-8, #595959);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-xl/[S] */
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
  }